/*
This is a CSS Rule
It's made of two parts:
 - a selector
 - a set of declarations (that live between the curly braces)

.selector {
    font-size: 12px; // declarations are made up of a property-name and its value
    font-family: Helvetica, Arial, sans-serif; // each declaration must be separated by a semi-colon
}
*/
#content{
    max-width:1350px;
}





div#banner {
    background: url("./images/sierra.jpg") no-repeat;
    background-size: cover;
    text-align: center;
    color: white;
    vertical-align: middle;
    font-family: SF Pro Display,sans-serif;
    font-size: 16px;
}

div#banner h1 {
    padding-top: 200px;
}

div#banner h2{
    height: 500px;
    font-weight: lighter;
}

.portfolio img {
    float: left;
    width: 50%;
}
/*clear fix for the float*/
.portfolio,.group:after  {
    content: "";
    display: table;
    clear: both;
}

div#why-love {
    display: inline;
    font-size: 15px;
}

#why-love img {
    width: 25%;
    float: left;
    margin: 10px;
    padding-right: 30px;
}



@media (max-width: 680px) {
    div#banner {
        height: 375px;
    }
    div#banner h1 {
        padding-top: 175px;
    }
    .portfolio img {
        width: 100%;
    }
}
